
<article class="listing">
  <h3>{{employee.title}} </h3>
  <div class="detail id">
      <span>ID :</span> {{employee.id}}
  </div>
  <div class="detail name">
      <span>Name :</span> {{employee.name}}
  </div>
  <div class="detail owner">
      <span>Owner :</span> {{employee.owner}}
  </div>
  <div class="detail position">
      <span>Position :</span> {{employee.position}}
  </div>
  <div class="detail department">
      <span>Department :</span> {{employee.department}}
  </div>
  <div class="detail city">
      <span>City :</span> {{employee.city}}
  </div>
  <div class="detail salary">
      <span>Salary :</span> {{employee.salary}}
  </div>
</article>